.hearts, .diamonds {
    color: red;
}

.spades, .clubs {
    color: black;
}

.card {
    font-size: 10rem;
    cursor: pointer;
    display: inline-block;
}

.card .back {
    visibility: hidden;
    color: red;
}

.flipped .front
{
    visibility: hidden;
    display: inline-block;
    width: 0;
}

.card.flipped .back {
    visibility: visible;
}