.deck .card {
    display: inline-block;
    margin-right: -7rem;
    background: white;
}

.deck.showCardsOnHover .card:hover {
    position:relative;
}
.deck.showCardsOnHover .card:hover .back {
    visibility: hidden;
}

.deck.showCardsOnHover .card:hover .front {
    visibility: visible;
    width: initial;
    position: absolute;
    z-index: 100;
}